html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 70px;
}

#main{
	padding-left: 240px;
	height: 100%;
	min-height:100%;
}

.pagination li.active {
	background-color: #2196f3;
}

footer {
	padding-left: 240px;
	bottom: 0;
	position: absolute;
	width: 100%;
}

footer .container {
	width: 98%;
	padding: 0 0.5rem;
	margin-top: 0.5rem;
	min-height:100%;
}

#left-menu {
	position: fixed;
	width: 100px;
	left: 180px;
	z-index: 999;
	height: auto;
}

.avatar .collection-header {
	font-size: 1.64rem;
}

.collection-item.avatar {
	height: auto !important;
}

ul.side-nav.fixed {
	overflow: hidden;
	top: 64px;
}

ul.side-nav li {
	padding: 0;
}

ul.side-nav.fixed li a {
	font-size: 14px;
	font-weight: 400;
}

ul.side-nav.fixed li {
	line-height: 44px;
}

ul.side-nav .collapsible-header {
	margin: 0;
}

ul.side-nav .collapsible {
	background-color: #FFF;
}

.side-nav a {
	line-height: 42px;
	height: 42px;
}

#slide-out li a i {
	margin-right: 1rem;
	text-align: center;
	float: left;
	display: block;
	font-size: 1.6rem;
	width: 2rem;
	line-height: inherit;
}

#dropdownprofile {
	z-index: 9999999;
}

.whopcontent .container {
	width: 98%;
	padding: 0 0.5rem;
	margin-top: 0.5rem;
	min-height:100%;
}

#sideprofile {
	background:url('../../../img/slide-menu-bg.jpg') no-repeat center center;
	padding: 30px 0px 30px 15px;
}

#sideprofile .dropdown-button {
	text-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width:992px) {
	ul.side-nav.fixed {
		top:56px;
	}
}

@media only screen and (max-width:993px) {
	#main, footer {
		padding-left:0px;
	}
}

.select-dropdown {
	position: relative !important;
}

.side-nav.fixed i {
	color: #444 !important
}

.editor { 
    position: relative;
    height: 700px;
}


.top15px {
	margin-top:15px;
}

.bottom15px {
	margin-bottom:15px;
}

.card .input-field label.left0 {
	left: 0 !important;
}

.left0 {
	left: 0 !important;
}

.margin-right-20px {
	margin-right: 20px;
}


.btnDeleteContent {
	padding: 0px 1rem !important;
	line-height: 25px !important;
	height: 25px !important;
}

.paddingLabel {
	padding:5px 10px 5px 10px;
}


.collapsible-body h4 {
	margin: 0px;
	padding: 2rem;
}


.truncate2 {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    max-width: 300px;                 /* fixed width */
}